@import './Reset.scss';
.card {
  width: 300px;
  list-style: none;
  text-align: center;
  box-shadow: 4px 4px 10px rgb(17, 5, 20);
  border-radius: 15px;
  background-color: #533c5399;
  padding: 20px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 2rem;
  margin-left: 15px;
  margin-right: 15px;

  @media (min-width:1024px){
    width: 400px;
  }
  &__link{
  text-decoration: none;
  color:rgb(32, 7, 34);
  
  }
  &__img {
    width: 70%;
    border-radius: 10px;
  }
  &__desc {
    background-color: #311c3199;
    border-radius: 10px;
    padding: 5px;
    color: white;
    @media (min-width:1024px){
      font-size: 3rem;
    }
  }
  
}


