.section {
  margin-top: 10vh;
  gap: 20px;
  &__cardList {
    margin-inline: 5vw;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
  }
}


.modal {
  &__content {
    background: linear-gradient(45deg, #221324, #bba4d8);
    border-radius: 8px;
    box-shadow: 4px 10px 8px rgba(10, 1, 1, 0.2);
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    &__msj {
      font-family: 'Courier New', Courier, monospace;
      text-align: center;
      font-size: 2rem;
      margin-bottom: 20px;
    }

    &__button {
      background-color: #190d1a;
      border: none;
      color: #fff;
      padding: 10px 20px;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s;
      width: 100px;

      &:hover {
        background-color: #816eec;
      }
    }
  }
}
